body{
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

input[type=text]{
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(43, 12, 12);
  transition: 0.2s;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}

input[type=text]:hover{
    border-radius: 10px;
    border-color: rgb(211, 32, 32);
}

input[type=button] {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  input[type=button]:hover {
    background-color: #53a857;
    border-radius: 15px;
  }


