
h1
{
font-size: 70px;
font-style: sans-serif;
font-family:  Consolas, sans-serif;
color: white;
text-shadow: 2px 2px 4px #000000;
}


h2
{
font-size: 65px;
font-style: sans-serif;
font-family: Consolas, sans-serif;
color: white;
}


h3
{
font-size: 50px
font-style: sans-serif;
font-family: Consolas, sans-serif;
color: white;
}

body
{
    background-color: rgb(30, 31, 43);

}
