

body, html 
{
height: 100vh;
width: 100vw;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(0, 0, 0);
z-index: 1;
}
  

  
.bg-image 
{   
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
  

  .img1 { background-image: url(alps_bg.jpg); }
  .img2 { background-image: url(mountain_eagle.jpg); }
  .img3 { background-image: url(mountain_range.jpg); }
  .img4 { background-image: url(mountain_sunrise.jpg); }
  
  /* Position text in the middle of the page/image */
  .button 
  {
    background-color: rgb(253, 0, 139); /* Fallback color */
    background-color: rgba(253, 0, 139, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 7px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
}

.button:hover 
{
    background-color: rgb(253, 0, 139); 
    box-shadow: 2px 2px 4px #201f1f;
    text-shadow: 1px 1px 2px #201f1f;
}

.vidbg
{
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9)
{
  .vidbg
    {
      width: 100%;
      height: auto;
    }
}

@media (max-aspect-ratio: 16/9)
{
  .vidbg
    {
      width: auto;
      height: 100%;
    }
}

.info
{
bottom; 0; 
color: blue;
font-family: Roboto, sans-serif;
z-index: 4;
}

